.login {
    background: url('./mvc/views/html/img_doan/bg_all.png');
    background-repeat: repeat;
    padding: 20px;
    width: 100%;
}

.tool-bar a {
    font-size: 14px;
    color: #333;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
}

.tieude h3 {
    font-size: 1.42857em;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

.btn1 {
    background: #ef7147;
    color: #fff;
    outline: none;
    border: solid 0.3px #ef7147;
    padding: 8px 13px;
    border-radius: 5px;
}

.btn1:hover {
    border: solid 0.3px #ef7147;
    outline: none;
    color: #ef7147;
    background: #fff;
    border-radius: 5px;
}

.register {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ebebeb;
}

.social {
    display: flex;
}

.form {
    background: #fff;
    border-radius: 3px;
    padding: 25px 25px 10px 25px;
}