.monannoibat {
    width: 100%;
    float: left;
    padding-top: 60px;
    background-image: url("./mvc/views/html/img_doan/background.png");
    background-repeat: repeat;
}

.monannoibat_title h2 {
    position: relative;
}

.monannoibat_title h2 a {
    color: #000;
    text-decoration: none;
    transition: 0.2s;
}

.monannoibat_title h2 a:hover {
    color: #ef7147;
}

.swiper-slide {
    border-radius: 5px;
    background: #fff;
    border: solid 1px #ebebeb;
    width: 100%;
    float: left;
    padding: 8px;
}

.swiper-slide img {
    max-width: 100%;
    max-height: 100%;
}

.swiper-slide .image {
    width: 100%;
    float: left;
    position: relative;
}

.image_product {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;

}

.swiper-slide .info {
    padding: 0 10px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
}

.infoLeft {
    width: 50%;
    padding-top: 15px;
}

.infoLeft .title {
    margin: 0px;
    padding: 0px;
    font-size: 17px;
    font-family: "UTMBryantLGBold", sans-serif;
    color: #333;
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
    -webkit-box-orient: vertical;
    line-height: 1.412;
}

.infoLeft .title a {
    text-decoration: none;
    color: #333;
    transition: 0.2s;
}

.infoLeft .title a:hover {
    color: #ef7147;
}

.infoRight {
    width: 50%;
    text-align: right;
    padding-top: 24px;
}

.infoRight button {
    padding: 8px;
    background: #ef7147;
    border: 1px solid #ef7147;
    color: #fff;
    font-size: 14px;
    outline: none;
    border-radius: 5px;
    transition: 0.2s;
}

.infoRight:hover button {
    cursor: pointer;
    background: #fff;
    color: #ef7147;
    border-radius: 10px;
}

.price {
    color: #ef7147;
    font-size: 17px;
}

.info .title {
    margin: 0px;
    padding: 0px;
    font-size: 17px;
    font-family: "UTMBryantLGBold", sans-serif;
    color: #333;
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
    -webkit-box-orient: vertical;
    line-height: 1.412;
}

.danhsachmonan {
    width: 100%;
    float: left;
    padding-top: 60px;
    background-image: url(./mvc/views/html/img_doan/background2.png);
    background-repeat: repeat;
}

.list_monan ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#fff;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border: 1px solid #ebebeb;
    
}

.list_monan ul li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 50px;
    cursor: pointer;

}

.list_monan ul li a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    line-height: 1.222;

}

.list_monan current {
    background-color: #ef7147;
    border-radius: 30px;
}

.list_monan ul li:hover {
    background-color: #ef7147;
    border-radius: 30px;
}

.list_monan ul li:hover a {
    color: #fff;
}

.list_monan .current {
    background-color: #ef7147;
    border-radius: 30px;
}

.list_monan .current a {
    color: #fff;
}

.tab1 {
    display: none;
}

.tab2 {
    display: none;
}

.tab3 {
    display: none;
}

.tab4 {
    display: none;
}

.tab5 {
    display: none;
}

.monan .current {
    display: block;
}

@media only screen and (max-width: 1200px) {
    .navbar-dark .navbar-nav .nav-item {
        padding: 10px 10px;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 14px;
    }
}


@media only screen and (max-width: 500px) {
    .logo img {
        width: 150px;
    }
}

@media only screen and (max-width: 320px) {
    .logo img {
        width: 122px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-dark .navbar-nav {
        padding-top: 10px
    }

    .navbar-dark .navbar-nav .nav-item {
        padding-top: 5px;
        padding-left: 0 !important;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 18px;
    }

    .cart {
        margin-right: 5px;
    }

}

@media only screen and (min-width: 769px) {
    .monannoibat_title h2 a::before {
        content: "";
        width: 215px;
        position: absolute;
        border: 0.75px dashed #c3c3c3;
        top: 55%;
        left: -235px;
    }

    .monannoibat_title h2 a::after {
        content: "";
        width: 215px;
        position: absolute;
        border: 0.75px dashed #c3c3c3;
        top: 55%;
        right: -235px;
    }
}